In [ ]:
l1= [6,6,6,7,8,9,0,8.89,-5,0.78]
l1.insert(2, " cars")
print(l1)

[6, 6, ' cars', 6, 7, 8, 9, 0, 8.89, -5, 0.78]

In [ ]:
def profile(name,age,place):
   print(name,age,place)
profile("sandy, 21, kadapa")

In [ ]:
def profile(name, age, place):
   txt = "My name is {}. i am {} years of old . i am  from {}"
   print(txt.format(name, age, place))

profile("sandy", 21, "kadapa")

My name is sandy. i am 21 years of old . i am  from kadapa

In [ ]:
# ! Eg:4
#? Function with return statement

In [ ]:
def f1():
  z = 8
f1()
print(z)

In [ ]:
def f1(a,b):
 c = a*b
return c
f1( 6,8)

SyntaxError: 'return' outside function (<ipython-input-9-4c7972b249aa>, line 3)

In [ ]:
# return
1.) A variable declared inside the function can be accessed outside the function usinf the function.
2.) Return does not print anything.
3.) we cannot write  any code below return statement.

In [ ]:
def f1(a,b):
 c = a*b
 return c
print(f1(6,8))
obj = f1(6,8)
onj = f1(4,6)

48

In [ ]:
def gracemark(object):
   print(object+4)
gracemark(object)
gracemark(object1)

TypeError: unsupported operand type(s) for +: 'type' and 'int'

In [ ]:
def palindrome(n):
   string= str(n)
   rev = str(n)[::-1]
   if string==rev:
     print(n," polindrome")
   else:
      print(" Not palindrome")
a= int(input(" enter the valu:"))
palindrome(a)

 enter the valu:25
 Not palindrome

In [ ]:
#? based on the declaration of parameter and args
#? function are divided into  5 catagories
# positional args
# Keyword args
# default args
# variable length args
# keyword variable length args

In [ ]:
# * positinal args
# Eg:1
#? the position ahve to be same as position as arguments
def profile(name, phone, mark):
  txt = " my name is {}. My phone number is{}. i got {}marks."
  print(txt.format(name, phone, mark))

profile (8328164032,"sandeep", 100)

 my name is 8328164032. My phone number issandeep. i got 100marks.

In [ ]:
# * keyword args
#! Eg:1
# ? To overcome the disadvantage of position args, we use  keywords arg
# ? it is the process of initialising the parameter with the argd while calling the function
def profile(name, phone, mark):
  txt = " my name is {}. My phone number is{}. i got {}marks."
  print(txt.format(name, phone, mark))

profile( name= "sandeep", mark=100, phone=8328164032)

 my name is sandeep. My phone number is8328164032. i got 100marks.

In [ ]:
# todo ---> Exception of keywords args function
def profile(name, phone, mark):
  txt = " my name is {}. My phone number is{}. i got {}marks."
  print(txt.format(name, phone, mark))

# profile(name= "sandeep", 83))

In [ ]:
#--> Todo = Exception of keyword args function
def profile(name,age,place):
    txt = "My name is {}.iam {} years old.iam from {}."
    print(txt.format(name,age,place))
profile("sandeep",21,place= "kdp")#> the combination of argumemnts type should follow positional after  Keyword args

My name is sandeep.iam 21 years old.iam from kdp.

In [ ]:
# * default args
 # The method of assiging the argument to the prameter while declaring
def profile(name,age,place):
    txt = "My name is {}.iam {} years old.iam from {}."
    print(txt.format(name,age,place))
profile("sandeep",21,place= "kdp")

My name is sandeep.iam 21 years old.iam from kdp.

In [ ]:
def profile(name,age,place=" kadapa"):
    txt = "My name is {}.iam {} years old.iam from {}."
    print(txt.format(name,age,place))
profile("sandeep",21," Guntur ")
if place=="kadapa":
     print( place eligible)
else:
     print( place |not eligible)

In [ ]:
def profile(name,age,place=" kadapa"):
  if place == "kadapa" or place=="kadapa" or place=="kadapa":
    txt = "My name is {}.iam {} years old.iam from {}."
    print(txt.format(name,age,place))
  else:
     print(txt.formate (name, age, place))
profile ("sandeep", 21 , kadapa)

In [ ]:
# variable length params
#! Eg:1
# To pass more then 1 to a parameter means we use variables lemgth args
# To convert normal parameter to variable length param,add * to ther prefix of param
def profile(*name):
  print("my name is", "name")
  profile("sandy", 'name2','name3')

In [ ]:
name = "sandy","name1","name2"
for val in name:
  print(" My name is ", val)
profile (" sandy", 'name2',' name3')

In [ ]:
# ? Writre a python script to genrate and print a dictionary  that contains a numbers ( between 1 and n) in the form (x , x*x)

In [ ]:
def profile(*name):
  foe val in name:
  print("my name is",val, "my age is ",age)
  profile("sandy", 'name2','name3'28)

def profile(age, *name)
 for val in name:
    print (" my name is",val, " my age is", age)
profile(28,"sandy",'name2','name3')

In [3]:
  n= 5
  {1:1,2:4,3:9,4:16,5:25}
  n = int(input("enter the number:"))
  def d1(n):
    d1 = {}
    for val in range(1,n+1):
      d1[val]=val**2
  print(d1)
d1(5)

enter the number:25
<function d1 at 0x7be703e9e200>

In [ ]:
# !------> object oriented programming
# The paradigms of objects oriented programming are
# class
# objects
# inheritance
# polymorphism
# abstraction
# encapsulation

In [4]:
class c1:
  name1 = "sandy"
  print(name1)

sandy

In [5]:
class person:
   name = " sandy"
c = person()
print(c.name)

 sandy

In [ ]:
c = person()
# The process of creation of an object is called as Instantiation
# print(c.name)

In [6]:
#? Eg:3
# create of a method
# when the function is creacted with a class is called as method

class person:
  def display(): # It is calles as a method
    print(" hello welcome to classes")
p = person()

In [ ]:
class person1:
  fname = "sandeep"
  i name = "T"
  def first_name(self):
    print(self,fname)
  def full_name(self):
    print(self.fname=""+self.lanme)

In [ ]:
 # construction---->_init_()
 # this is a special method which has the BILITY TO EXCUTE IOTSELF WITHOUT
 # calling it manullay through the process of instantiation

class profile:
  def_init_(self)
    print("hey")
p = profile()